<!-- Navigation -->
<div class="page-wrap">
  <nav id="nav">
    <ul>
      <li><a href="/dashboard" class="" (click)= "setActive()"><span class="icon fa-home"></span></a></li>
      <li><a href="/portfolio" (click)= "setActive()"><span class="icon fa-camera-retro"></span></a></li>
      <li><a href="/generic" (click)= "setActive()"><span class="icon fa-file-text-o"></span></a></li>
    </ul>
  </nav>

  <!-- Content -->
  <section id="main">
    <!-- Router to Views -->
    <router-outlet></router-outlet>

    <!-- Footer Component -->
    <app-footer-component></app-footer-component>
  </section>
</div>
