<!-- <section id="galleries">

// Photo Galleries 
        <div class="gallery">
            <header class="special">
                <h2>What's New</h2>
            </header>
            <div class="content">
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/01.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/05.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/09.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/02.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/06.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/10.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/03.jpg" alt="" title=""></a>
                </div>
                <div class="media">
                    <a href="" style="outline: 0px;"><img src="../src/assets/images/thumbs/07.jpg" alt="" title=""></a>
                </div>
            </div>
            <footer>
                <a href="../src/assets/gallery.html" class="button big">Full Gallery</a>
            </footer>
        </div>
</section> -->