<header id="header">
  <div>Snapshot <span>by TEMPLATED</span></div>
</header>
<section id="galleries">
  <div class="gallery">
    <header>
      <h1>Manage Photos</h1>
    </header>

    <!-- Form -->
    <div class="container">
      <div class="column1">
        <form [formGroup]="formData" id="form" (ngSubmit)="onSubmit()">

          <div class="field">
            <label>Full Image URL: </label>
            <input formControlName="fullURL" type="text" placeholder="Full Image URL">
          </div>

          <div class="field">
            <label>Thumb Image URL: </label>
            <input formControlName="thumbURL" type="text" placeholder="Thumbnail URL">
          </div>

          <div class="field">
            <label>Caption: </label>
            <textarea formControlName="caption" type="text" placeholder="Caption"></textarea>
          </div>
          <input id="submit" type="submit" value="Submit!">
        </form>
      </div>

      <!-- List -->
      <div class="column2">
        <div class="card" *ngFor="let photo of photos">
          <img src="{{photo.thumbURL}}" alt="" title="{{photo.caption}}" style="width:100%">
          <div class="container buttons">
            <button mat-raised-button color="primary" (click)="onClick(photo._id,'edit')"> Edit</button>
            <button mat-raised-button color="warn" (click)="onClick(photo._id,'delete')"> Delete</button>

            <!-- Sweet Alert Modal: Delete -->
            <swal #deleteSwal 
            title="Are you sure want to delete this?" 
            type="warning" 
            [options]="{ showCancelButton: true,  showConfirmButton: true, confirmButtonText: 'Yes, delete!',  confirmButtonColor: '#DD6B55'}">
            </swal>
          </div>
        </div>
      </div>


      <!-- Sweet Alert Modal: Success -->
      <swal #submitSwal title="Success!" type="success" [options]="{ showCancelButton: false, showConfirmButton: false, timer: 2000}">
      </swal>

    </div>

  </div>
</section>
