button {
    width: 100%;
}

.image-preview-container {
    background-color: #f7f7f7;
    position: relative;
}

.image-preview {
    background: center center no-repeat;
    background-size: contain;
    height : 116px;
    width : 116px;
}